/* -------- single product Details ----- */
.single-product{
    margin-top: 50px;
}
.single-product .col-2 img{
    padding: 0px;
}
.single-product .col-2{
   padding: 20px;
}
.single-product h4{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff5235;
}
.input:focus{
    outline: none;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
